
.header {
  position: relative;
  top: 0;
  background-color: #53cdec;
  height: 200px;
  width: 100%;
  z-index: -1;

  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 74px;
    color: #C3EEF8;
    margin-left: 161px;
    position: absolute;
    padding: 0;
    transform: rotate(-9deg);
  }

}
